<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz.admin.hotels.mapper.HotelsMapper">
    <!-- 通用映射 -->
    <resultMap id="BaseResultMap" type="com.sz.admin.hotels.pojo.po.Hotels">
        <id column="hotel_id" property="hotelId"/>
        <result column="hotel_name" property="hotelName"/>
        <result column="address" property="address"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
        <result column="contact_email" property="contactEmail"/>
        <result column="contact_phone" property="contactPhone"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        hotel_name, address, latitude, longitude, contact_email, contact_phone, created_at
    </sql>

</mapper>
