<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sz.admin.reviews.mapper.ReviewsMapper">
    <!-- 通用映射 -->
    <resultMap id="BaseResultMap" type="com.sz.admin.reviews.pojo.po.Reviews">
        <id column="review_id" property="reviewId"/>
        <result column="booking_id" property="bookingId"/>
        <result column="user_id" property="userId"/>
        <result column="rating" property="rating"/>
        <result column="comment" property="comment"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        booking_id, user_id, rating, comment, created_at
    </sql>

</mapper>
